[Unit]
Description=GitHub Webhook Listener

[Service]
ExecStart=/usr/bin/python3 /opt/webhook/webhook.py
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin
WorkingDirectory=/opt/webhook

[Install]
WantedBy=multi-user.target
